body {
    font-family: monospace;
    background-color: black;
    color: white;
}

.tools {
    width: 150px;
    height: 150px;
}

h1 {
    font-size: 50px;
}

#startbutton {
    font-family: monospace;
    font-size: 15px;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    transition-duration: 0.4s;
}

#startbutton:hover {
    background-color: white;
    color: black;
}

#beg {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}